In [ ]:
import pandas as pd
import re
import numpy as np

Import breach data, format breach data

In [ ]:
months = {'Jan': '01', 'Feb': '02', 'Mar': '03', 'Apr': '04',
          'May': '05', 'Jun': '06', 'Jul': '07', 'Aug': '08',
          'Sep': '09', 'Oct': '10', 'Nov': '11', 'Dec': '12'}

def format_dates(date):
  month = date[:3]
  num = months[month]
  return date[3:] + '-' + num + '-' + '01'

breaches = pd.read_csv('../data/breaches/breaches_information.csv', skiprows=range(1, 26))
breaches = breaches.rename(columns={'year   ': 'year'})
breaches['records lost'] = breaches['records lost'].str.replace(',', '')
breaches['records lost'] = pd.to_numeric(breaches['records lost'])
breaches = breaches.drop(columns=['Unnamed: 11'])
breaches['organisation_lower'] = breaches['organisation'].str.lower()
breaches = breaches.rename(columns={'date': 'breach_date'})
breaches['breach_date'] = breaches['breach_date'].str.replace(' ', '')
breaches['breach_date'] = pd.to_datetime(breaches['breach_date'].map(format_dates))
print(breaches.columns)

Index(['organisation', 'alternative name', 'records lost', 'year',
       'breach_date', 'story', 'sector', 'method', 'interesting story',
       'data sensitivity', 'displayed records', 'source name',
       '1st source link', '2nd source link', 'ID', 'organisation_lower'],
      dtype='object')

Import article data, format article data

In [3]:
articles_no_dupes = pd.read_csv('../data/article_data/joined_articles_companies_no_duplicates.csv')
articles_no_dupes = articles_no_dupes.rename(columns={'Date': 'article_date'})
articles_str_dates = articles_no_dupes['article_date'].astype(str)
articles_no_dupes['article_date'] = pd.to_datetime(articles_str_dates.map(lambda date: date[:4] + '-' + date[4:6] + '-' + date[6:]))
print(articles_no_dupes.columns)

articles_dupes = pd.read_csv('../data/article_data/joined_articles_companies.csv')
articles_dupes = articles_dupes.rename(columns={'Date': 'article_date'})
articles_str_dates = articles_dupes['article_date'].astype(str)
articles_dupes['article_date'] = pd.to_datetime(articles_str_dates.map(lambda date: date[:4] + '-' + date[4:6] + '-' + date[6:]))
print(articles_dupes.columns)

Index(['Unnamed: 0', 'name', 'domain', 'year founded', 'industry',
       'size range', 'locality', 'country', 'linkedin url',
       'current employee estimate', 'total employee estimate', 'article_date',
       'Publication', 'Headline', 'URL', 'BreachMentioned',
       'CompanyMentioned'],
      dtype='object')
Index(['Unnamed: 0', 'name', 'domain', 'year founded', 'industry',
       'size range', 'locality', 'country', 'linkedin url',
       'current employee estimate', 'total employee estimate', 'article_date',
       'Publication', 'Headline', 'URL', 'BreachMentioned',
       'CompanyMentioned'],
      dtype='object')

Calculate smallest interval that 2 breaches occurred for any single company

In [8]:
# Check shortest period (in days) between breaches experienced by one company (ends up being 90 days)
breaches_joined = pd.merge(breaches, breaches, on='organisation', how='inner')
breaches_joined_diff_dates = breaches_joined[breaches_joined['breach_date_x'] != breaches_joined['breach_date_y']]
min_breach_consecutive = min(abs(breaches_joined_diff_dates['breach_date_x'] - breaches_joined_diff_dates['breach_date_y']))
print(min_breach_consecutive)

# Restrict to article dates within max_days after the breach
max_days_since_breach = min_breach_consecutive - pd.Timedelta(1, 'd')
print(max_days_since_breach)

90 days 00:00:00
89 days 00:00:00

Join by exact company name, restricting `article_date` to within the interval after `breach_date`

In [5]:
# Join no duplicate articles
joined_no_dupes = pd.merge(breaches, articles_no_dupes, left_on='organisation_lower', right_on='name', how='inner')
joined_no_dupes = joined_no_dupes[joined_no_dupes['breach_date'] < joined_no_dupes['article_date']]
joined_no_dupes = joined_no_dupes[joined_no_dupes['article_date'] - joined_no_dupes['breach_date'] < max_days_since_breach]
joined_no_dupes.to_csv('../data/article_company_breach/joined_articles_company_breaches_no_duplicates.csv')

# Join duplicate articles exist
joined_dupes = pd.merge(breaches, articles_dupes, left_on='organisation_lower', right_on='name', how='inner')
joined_dupes = joined_dupes[joined_dupes['breach_date'] < joined_dupes['article_date']]
joined_dupes = joined_dupes[joined_dupes['article_date'] - joined_dupes['breach_date'] < max_days_since_breach]
joined_dupes.to_csv('../data/article_company_breach/joined_articles_company_breaches.csv')

# TODO: find which articles weren't matched

No article is matched to more than one data breach, so if an article references a past breach in addition to a newer breach, it will only match to the newer breach.

In [6]:
companies_data = pd.read_csv("../data/companies.csv")
breaches = pd.read_csv('../data/breaches/breaches_information.csv', skiprows=range(1, 2))

months = {'Jan': '01', 'Feb': '02', 'Mar': '03', 'Apr': '04',
          'May': '05', 'Jun': '06', 'Jul': '07', 'Aug': '08',
          'Sep': '09', 'Oct': '10', 'Nov': '11', 'Dec': '12'}

def format_dates(date):
  month = date[:3]
  num = months[month]
  return date[3:] + '-' + num + '-' + '01'


breaches = breaches.rename(columns={'year   ': 'year'})
breaches['records lost'] = breaches['records lost'].str.replace(',', '').astype(int)
breaches['records lost'] = breaches['records lost'] = pd.to_numeric(breaches['records lost'])
breaches = breaches.drop(columns=['Unnamed: 11'])
breaches['organisation_lower'] = breaches['organisation'].str.lower()
breaches = breaches.rename(columns={'date': 'breach_date'})
breaches['breach_date'] = breaches['breach_date'].str.replace(' ', '')
breaches['breach_date'] = pd.to_datetime(breaches['breach_date'].map(format_dates))

def preprocess(text):
    # Remove punctuation and convert to lowercase
    if pd.isna(text):
        return ""
    return re.sub(r'[^\w\s]', '', text).lower()

# Preprocess data
companies_data['name_processed'] = companies_data['name'].apply(preprocess)
breaches['organisation_processed'] = breaches['organisation'].apply(preprocess)

# Perform the join on the processed columns
result_df = pd.merge(breaches, companies_data, left_on='organisation_processed', right_on='name_processed', how='left')

# Drop the helper columns
result_df = result_df.drop(columns=['name_processed', 'organisation_processed'])

# Sort by 'name' (from companies_data)
result_df.sort_values(by=['organisation', 'name'])

result_df.to_csv("../data/article_company_breach/left_joined_breaches_companies.csv", index=False)

In [5]:
breaches = pd.read_csv('../data/breaches/breaches_information.csv', skiprows=range(1, 2))
print(breaches.head(10))

                        organisation alternative name records lost  year     \
0                               Plex              NaN   15,000,000     2022
1                            Twitter              NaN    5,400,000     2021
2                    Shanghai Police              NaN  500,000,000     2022
3           City of Amagasaki, Japan              NaN      500,000     2022
4             Dubai Real Estate Leak              NaN      800,000     2022
5                             Heroku              NaN       50,000     2022
6                          Mailchimp              NaN      106,586     2022
7                            PayHere              NaN    1,580,249     2022
8                               CDEK              NaN   18,218,203     2022
9  Washington State Dpt of Licensing              NaN      257,000     2022

       date                                              story      sector  \
0  Aug 2022  Intruders access password data, usernames, and...        web
1  Dec 2021  Zero day vulnerability allowed a threat actor ...         web
2  Jul 2022  A database containing records of over a billio...   financial
3  Jun 2022  An unnamed government official lost his bag af...  government
4  May 2022  Data leak exposes how criminals, officials, an...   financial
5  Apr 2022  A compromised token was used by attackers to e...        tech
6  Apr 2022  Hackers gained access to internal customer sup...        tech
7  Mar 2022  Sri Lankan payment gateway PayHere suffered a ...   financial
8  Mar 2022  UNVERIFIED. Russian courier service CDEK was h...      retail
9  Feb 2022  The Washington State Department of Licensing s...  government

       method interesting story  data sensitivity displayed records  \
0      hacked               NaN               1.0               NaN
1      hacked               NaN               2.0               NaN
2      hacked               NaN               5.0     "one billion"
3       oops!               NaN               3.0               NaN
4  inside job                 y               1.0               NaN
5      hacked               NaN               2.0               NaN
6      hacked               NaN               1.0               NaN
7      hacked               NaN               3.0               NaN
8      hacked               NaN               3.0        19,000,000
9      hacked               NaN               3.0               NaN

   Unnamed: 11        source name  \
0          NaN       Ars technica
1          NaN  Bleeping Computer
2          NaN       The Register
3          NaN                BBC
4          NaN                E24
5          NaN  Bleeping Computer
6          NaN  Bleeping Computer
7          NaN           Pay Here
8          NaN  Have I Been Pwned
9          NaN      Seattle Times

                                     1st source link 2nd source link   ID
0  https://arstechnica.com/information-technology...             NaN  418
1  https://www.bleepingcomputer.com/news/security...             NaN  419
2  https://www.theregister.com/2022/07/05/shangha...             NaN  420
3     https://www.bbc.co.uk/news/world-asia-61921222             NaN  421
4  https://e24.no/internasjonal-oekonomi/i/Bj97B0...             NaN  417
5  https://www.bleepingcomputer.com/news/security...             NaN  416
6  https://www.bleepingcomputer.com/news/security...             NaN  415
7  https://blog.payhere.lk/ensuring-integrity-on-...             NaN  414
8  https://twitter.com/haveibeenpwned/status/1504...             NaN  413
9  https://www.seattletimes.com/business/breach-a...             NaN  412

Do an left join on the data breaches table and companies tables, keeping all the data breach rows.

In [7]:
matched = pd.read_csv("../data/article_company_breach/left_joined_breaches_companies.csv")

# Fill NaN values in 'total employee estimate' with -1
matched['total employee estimate'] = matched['total employee estimate'].fillna(-1)

# drop rows with duplicate breaches
df_dedup = matched.loc[matched.groupby(['organisation', 'records lost', 'breach_date'])['total employee estimate'].idxmax()].reset_index(drop=True)

df_dedup.to_csv("../data/article_company_breach/left_joined_breaches_companies_no_duplicates.csv", index=False)

Remove duplicates based on 'total employee estimate'.

In [9]:
articles_companies = pd.read_csv('../data/article_data/joined_articles_companies_no_duplicates.csv')
breaches_companies = pd.read_csv('../data/article_company_breach/left_joined_breaches_companies_no_duplicates.csv')


articles_companies = articles_companies.rename(columns={'Date': 'article_date'})
articles_str_companies = articles_companies['article_date'].astype(str)
articles_companies['article_date'] = pd.to_datetime(articles_str_companies.map(lambda date: date[:4] + '-' + date[4:6] + '-' + date[6:]))

breaches_companies['breach_date'] = pd.to_datetime(breaches_companies['breach_date'])

# Join no duplicate articles
joined_no_dupes = pd.merge(breaches_companies, articles_companies, on=['Unnamed: 0','name','domain','year founded','industry','size range','locality','country','linkedin url','current employee estimate','total employee estimate'], how='left')
joined_no_dupes = joined_no_dupes[
    (joined_no_dupes['article_date'].isna()) |
    (joined_no_dupes['breach_date'] < joined_no_dupes['article_date'])
]
joined_no_dupes = joined_no_dupes[
    (joined_no_dupes['article_date'].isna()) |
    ((joined_no_dupes['article_date'] - joined_no_dupes['breach_date']) < max_days_since_breach)
]
joined_no_dupes.to_csv('../data/article_company_breach/left_joined_articles_company_breaches_no_duplicates.csv')

Left join articles with company and data breach table

In [17]:
df = companies_data = pd.read_csv("../data/article_company_breach/left_joined_articles_company_breaches_no_duplicates.csv")

print(len(df))
df['Publication'] = df['Publication'].fillna('No Publication')

# Add a count column where 'publication' is NaN, the count will be 0
df['number of articles'] = df['Publication'].apply(lambda x: 0 if x == 'No Publication' else 1)

print(len(df))

df['total employee estimate'] = df['total employee estimate'].replace(-1, np.nan)

print(len(df))

# Group by the specified columns and sum the 'number of articles' for each group
grouped = df.groupby(["organisation", "records lost", "year", "breach_date", "sector", "method", "data sensitivity", "name", "domain", "year founded", "industry", "size range", "locality", "country", "linkedin url", "current employee estimate", "total employee estimate"])['number of articles'].sum().reset_index()

print(len(grouped))

# Sort by 'total employee estimate' for better visualization
group_sizes_sorted = grouped.sort_values(["number of articles"])

group_sizes_sorted.to_csv('../data/article_company_breach/article_count_per_breach.csv')

1481
1481
1481
132

corrected version of above (does filter away nan values)

In [3]:
df = companies_data = pd.read_csv("../data/article_company_breach/left_joined_articles_company_breaches_no_duplicates.csv")

print(len(df))
df['Publication'] = df['Publication'].fillna('No Publication')
df = df.fillna(0)

# Add a count column where 'publication' is NaN, the count will be 0
df['number of articles'] = df['Publication'].apply(lambda x: 0 if x == 'No Publication' else 1)

print(len(df))

df['total employee estimate'] = df['total employee estimate'].replace(-1, np.nan)

print(len(df))

# Group by the specified columns and sum the 'number of articles' for each group
grouped = df.groupby(["organisation", "records lost", "year", "breach_date", "sector", "method", "data sensitivity", "name", "domain", "year founded", "industry", "size range", "locality", "country", "linkedin url", "current employee estimate", "total employee estimate"])['number of articles'].sum().reset_index()

print(len(grouped))

# Sort by 'total employee estimate' for better visualization
group_sizes_sorted = grouped.sort_values(["number of articles"])

group_sizes_sorted.to_csv('../data/article_company_breach/correct_article_count_per_breach.csv')

1481
1481
1481
195